* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import 'variables';
@import 'mixins';

body{
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    min-width: 1200px;
    border: 3px solid red;
}

.values {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 600px;
    max-width: 1200px;
    margin-top: 130px;
    margin-bottom: 130px;
    background-color: #FFF;

    .values-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 45px; 
        @media (max-width: 480px) {
            margin-bottom: 80px; 
        }
        .title__small-up_uppercase { 
            @extend %title_sm-top; //
            text-transform: uppercase;
            @media (max-width: 480px) {
                font-size: 35px;
            }
            @media  (min-width: 768px) and (max-width: 991px) {
                font-size: 20px;
            }
            
        }
        .title__h2 {
            @include title_h2 (659px); 
            @media (max-width: 480px) {
                font-size: 85px;
                text-align: center;
                @include title_h2 (656px);
            }
            @media  (min-width: 768px) and (max-width: 991px) {
                font-size: 55px;
                max-width: none;
                
            }
        }  
    }
    .value-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 620px;
        @media (max-width: 480px)  {
            max-width: none;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            max-width: none;
        }
        .value__card {
            display: flex;
            gap: 32px;
            align-items: flex-start;
            @media (min-width: 768px) and (max-width: 991px) {
                min-width: 750px;
            }
            @media (max-width: 480px)  {
                min-width: 750px;
                flex-direction: column;
                text-align: center;
                align-items: center;
            }
            .value__img{
                max-width: 100%;
                @media (max-width: 480px)  {
                    height: 200px;
                }
            }
        }
    }
}

.card-margin-bottom{
    margin-bottom: 36px;
    @media (min-width: 768px) and (max-width: 991px) {
        margin-bottom: 26px;
    }
}
.card-margin-bottom-top{
    margin-bottom: 36px;
    margin-top: 36px;
    @media (min-width: 768px) and (max-width: 991px) {
        margin-bottom: 26px;
        margin-top: 26px
    }
}
.card-margin-top{
    margin-top: 36px;
    @media (min-width: 768px) and (max-width: 991px) {
        margin-bottom: 26px;
        margin-top: 26px;
    }
}


.value__text-block {
    .value__text-title {
        font-family: $secondaryFont;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; 
        @media (max-width: 480px) {
            font-size: 55px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            font-size: 30px;
        }
    }  
    .value__text{
        font-family: $mainFont;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 175%;
        max-width: 458px;
        @media (max-width: 480px) {
            max-width: 899px;
            font-size: 45px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            font-size: 26px;
            max-width: 605px;
            text-align: justify;
        }
    }

}





.team .container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 33px 45px;
    margin: 0px auto;
    max-width: 1920px;
    margin-top: 129px;
    margin-bottom: 129px;
    .block-title {
        display: grid;
        grid-column: 1/4;
        justify-content: center;
        @media (max-width: 480px) {
            margin-bottom: 35px;
        }
        .block-title__h2 {
            color: #5C8692;
            text-align: center;
            @include text-styles ($mainFont, 15px, 600, 154.5%, 1.5px);
            text-transform: uppercase;
            @media (max-width: 480px) {
                font-size: 35px;
            }
            @media  (min-width: 768px) and (max-width: 991px) {
                font-size: 20px;
            }
        } 
        .block-title__h1 {
            color: #141414;
            text-align: center;
            @include text-styles ($secondaryFont, 45px, 700, 130%, -0.45px);
            padding-top: 9px;
            @media (max-width: 480px) {
                font-size: 85px;
            }
            @media  (min-width: 768px) and (max-width: 991px) {
                font-size: 55px;
            }
        }
    }
    .card {
        display: flex;
        flex-direction: column;
        @media  (min-width: 992px) and (max-width: 1449px) {
        width: 302px;
        }
        @media  (min-width: 1449px) and (max-width: 1920px) {
            width: auto;
            align-items: center;
            }
    }
}

.card-image {
    @media  (min-width: 1449px) and (max-width: 1920px) {
    max-width: 100%;
    width: 780px;
    }
}


.team__card {
    .card-info {
        padding: 25px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 480px) {
            margin-bottom: 80px;
        }
        @media  (min-width: 768px) and (max-width: 991px) {
            height: auto;
        }
            .card-info__name {
                color: #141414;
                @include text-styles ($secondaryFont, 24px, 700, 120%, 0);
                @media (max-width: 480px) {
                    font-size: 60px;
                }
                @media  (min-width: 768px) and (max-width: 991px) {
                font-size: 35px;
            }
            }
            .card-info__position {
                color: #5C8692;
                padding-top: 4px;
                @include text-styles ($mainFont, 15px, 600, 154.5%, 1.5px);
                text-transform: uppercase;
                @media (max-width: 480px) {
                    font-size: 35px;
                    padding-top: 20px;
                }
                @media  (min-width: 768px) and (max-width: 991px) {
                    font-size: 22px;
                }
            }
            .card-info__description {
                color: #555;
                padding-top: 8px;
                text-align: center;
                @include text-styles ($mainFont, 18px, 400, 160%, 0);
                @media (max-width: 480px) {
                    font-size: 40px;
                    padding-top: 20px;
                }
                @media  (min-width: 768px) and (max-width: 991px) {
                    font-size: 26px;
                }
            }
            .carf-info__icons {
                display: flex;
                align-items: center;
                padding-top: 23px;
                gap: 30px;
                @media (max-width: 480px) {
                    padding-top: 40px;
                }
                .icon {
                    @media (max-width: 480px) {
                        height: 40px;
                    }
                    @media  (min-width: 768px) and (max-width: 991px) {
                        height: 25px;
                    }
                }
            }
        }
    }


@media (max-width: 480px) {
    .team .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: none;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .team .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: none;
    }
}




.opinion {
    background-color: #a3dae4;

    .opinion__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 147px;
        padding-bottom: 147px;
        @media  (min-width: 768px) and (max-width: 991px) {
            margin-top: 110px;
            margin-bottom: 110px;
        }
    }
}

.opinion__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    .title__small-up_uppercase {
        @extend %title_sm-top; 
        text-transform: uppercase;
        @media (max-width: 480px) {
            font-size: 35px;
        }
        @media  (min-width: 768px) and (max-width: 991px) {
            font-size: 20px;
        }
    }
    .title__h2 {
        @include title_h2(552px);
        @media (max-width: 480px) {
            font-size: 85px;
            max-width: 710px;
            text-align: center;
        }
        @media  (min-width: 768px) and (max-width: 991px) {
            font-size: 55px;
            max-width: none;
        }
    }
}



.opinion__card-list {
    display: flex;
    justify-content: center;
    gap: 35px;
    @media (max-width: 480px) {
        flex-direction: column;
    }
    @media  (min-width: 768px) and (max-width: 991px) {
        flex-direction: column;
    }


    .opinion__card {
        display: flex;
        flex-direction: column;
        @media (max-width: 480px) {
            width: 100%;
            flex-direction: row;
        }
    }
}

.opinion__light-box {
    background: rgba(255, 255, 255, 1);
    padding: 44px 44px 44px 49px;
    max-height: 224px;
    max-width: 578px;
    @media (max-width: 480px) {
        width: 100%;
        max-width: unset;
        max-height: unset;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        max-width: 647.5px;
        max-height: none;
        display: flex;
    align-items: center;
    }

    @media (min-width: 992px) and (max-width: 1449px) { 
            max-height: none;
    }
}

    .opinion__content {
        max-width: 528px;
        font-family:  'Manrope', sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%;
        @media (max-width: 480px) {
            font-size: 40px;
            max-width: unset;
    }
        @media  (min-width: 768px) and (max-width: 991px) {
            font-size: 25px;
            max-width: none;
    }
}



.opinion__dark-box {
    background-color: rgba(30, 44, 48, 1);
    max-width: 578px;
    @media (max-width: 480px) {
        max-width: unset;
    }
    @media  (min-width: 768px) and (max-width: 991px) {
        max-width: none;
    }
    .dark-box__content {
        max-width: 564px;
        max-height: 57px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-left: 51px;
        padding-right: 51px;
        @media (max-width: 480px) {
            font-size: 40px;
            margin-top: 35px;
            margin-bottom: 35px;
            max-width: unset;
            flex-direction: column-reverse;
            align-items: flex-end;
            max-height: max-content;
            gap: 100px;
        }
        @media  (min-width: 768px) and (max-width: 991px) {
            margin-top: 40px;
            margin-bottom: 40px;
            max-width: none;
        }
        @media  (min-width: 992px) and (max-width: 1449px) {
            max-height: none;
            gap: 24px;
        }


       
       
        .opinion__customer-info{
            display: flex;
            max-width: 232px;
            gap: 38px;
            @media (max-width: 480px) {
                flex-direction: column;
                min-width: 250px;
                align-items: flex-end;
            }
            @media  (min-width: 768px) and (max-width: 991px) {
                gap: 44px;
            }
            @media  (min-width: 992px) and (max-width: 1449px) {
                max-width: none;
                gap: 25px;
            }

            
        }
            .customer-info__photo {
                max-height: 100%;
                @media (max-width: 480px) {
                    height: 175px;
                }
                .customer-pic{
                    height: 100%;
                }
            }
            .customer-info__text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: white;
                min-width: 138px;
                justify-content: space-evenly;
                @media (max-width: 480px) {
                    align-items: flex-end;
                    text-align: end;
                   
                }
                @media  (min-width: 768px) and (max-width: 991px) {
                    min-width: auto;
                }
                .customer-name {
                    font-family: 'Playfair Display', serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 160%; /* 32px */
                    letter-spacing: -0.2px;
                    @media (max-width: 480px) {
                        font-size: 35px;
                    }
                    @media  (min-width: 768px) and (max-width: 991px) {
                        font-size: 24px;
                    }
                }
                .customer-city {
                    font-family: 'Manrope', sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 160%; /* 22.4px */
                    letter-spacing: 0.42px;
                    @media (max-width: 480px) {
                        font-size: 30px;
                    }
                    @media  (min-width: 768px) and (max-width: 991px) {
                        font-size: 18px;
                    }
                }
            }
        }
}

.estimate__pic{
    height: 40px;
    @media  (min-width: 992px) and (max-width: 1449px) {
        height: 21px;
    }
}

.customer-quote {
    @media  (min-width: 992px) and (max-width: 1449px) {
        display: flex;
        align-self: flex-start;
    }
} 


.follow {
    background-color: #FFF;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 150px;
    @media (max-width: 767px) {
        margin-top: 110px;
        margin-bottom: 110px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        margin-top: 130px;
        margin-bottom: 130px;
        
    }
}

.follow__gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 1200px;
    row-gap: 45px;
    -moz-column-gap: 50px;
    column-gap: 50px;
    grid-template-areas: 
        "title pic2" 
        "pic1 pic3";
        @media (max-width: 767px) {
            grid-template-columns: auto;
            grid-template-rows: 580px 1fr 1fr 1fr;;
            grid-template-areas: 
            "title" 
            "pic1"
            "pic2"
            "pic3";
            row-gap: 35px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            grid-template-columns: 1fr 50%;
            grid-auto-rows: minmax (200px, auto);
            grid-template-areas: 
            "title pic1" 
            "pic2 pic2"
            "pic3 pic3";
            row-gap: 20px;
            column-gap: 20px;
        }
    }


      
//Контейнер с картинкой
.follow__pic-box {
    max-height: auto;
}

//Картинка
.follow__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.pic-box1 {
    grid-area: pic1;
    margin-top: -85px;
    @media (max-width: 767px) {
        margin-top: 0px;
        min-width: 250px;
    }
    @media  (min-width: 768px) and (max-width: 991px) {
        margin-top: 0px;
        min-width: 296px;
        
    }
}

.pic-box2 {
    grid-area: pic2;
}
        
.pic-box3{
    grid-area: pic3;
}        



 .follow-title {
    grid-area: title;
    max-height: 293px;
    width: auto;
    @media (max-width: 767px) {
        max-height: none;
        text-align: center;
    }
    @media  (min-width: 768px) and (max-width: 991px) {
        max-height: none;
       
    }
    .title__small-up_uppercase {
        @extend %title_sm-top;
        text-transform: uppercase;
        @media (max-width: 480px) {
            font-size: 35px;
        }
        @media  (min-width: 768px) and (max-width: 991px) {
            font-size: 20px;
        }
        
    }
    .title__h2 {
        @include title_h2(264px);
        @media (max-width: 768px) {
            font-size: 85px;
            max-width: none;
            margin-bottom: 30px;
            margin-top: 30px;
        }
        @media  (min-width: 768px) and (max-width: 991px) {
            font-size: 55px;
            max-width: 323px;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        
    }
    .title__small-down {
        @extend %title__sm-down;
        @media (max-width: 767px) {
            font-size: 45px;
        }
        @media  (min-width: 768px) and (max-width: 991px) {
            font-size: 28px;
        }
        @media  (min-width: 768px) and (max-width: 991px) {
            max-width: 432px;
        }
       
    }
}  

.follow__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    @media  (min-width: 768px) and (max-width: 991px) {
        margin-top: 94px;
    }


    .btn_green_uppercase {
        @include btn (#5C8692, 23px 72px 24px 72px);
        color: $btnTextLight;
        text-transform: uppercase;
        @media (max-width: 767px) {
            @include btn (#5C8692, 46px 144px 48px 144px);
            font-size: 35px;
        }
        @media  (min-width: 768px) and (max-width: 991px) {
            @include btn (#5C8692, 43px 141px 45px 141px);
            font-size: 25px;
        }
    }
}

