* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "variables";
@import "mixins";
@import url(template_top-line.css);
$textColor: #141414;
$firstBackColor: #FFF;
$seconBackColor: #EBF3F5;

html,
body {
    margin: 0;
    padding: 0;
}

/* стили для всех области, которая содержит контейнер с контентом */
.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    background-color: #1E2C30;
    color: #FFF;
    text-align: center;

    /* background-image: url('/img/bg/header_content_pic.svg');
    background-repeat: no-repeat;
    background-size: cover; */
}

/* стили контейнера, в котором содержатся кнопка и два блока с текстом */
.header__content {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 118px;
    }
}

/* стили для небольшого текста */
.header__content-small-text {
    @include text-styles ($mainFont, 15px, 600, 154.5%, 1.5px);
    text-transform: uppercase;
}

/* стили для большого текста */
.header__content-big-text {
    @include text-styles ($secondaryFont, 55px, 700, 120%, -0.55px);
    padding-top: 8px;
}

/*основная часть - карточка с фото*/
.contact-main {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-left: 360px;
    padding-right: 360px;
    padding-top: 138px;
    padding-bottom: 118px;
    align-items: center;
    justify-content: space-around;
    background-color: $firstBackColor;
}

.сontact-card {
    display: flex;
    align-items: center;
    gap: 120px;

    #main_photo {
        float: left;
        height: auto;
        height: 611px;
    }

    /*основной текст карточки*/
    .contact-card__info {
        .contact-card__h3 {
            @extend %title_sm-top;
            text-transform: uppercase;
            padding-bottom: 9px;
        }

        .contact-card__h1 {
            @include title_h2 (435px);
            padding-bottom: 23px;
        }

        .contact-card__text {
            @extend %title__sm-down;
            padding-bottom: 43px;
        }
    }

    /*иконки с контактами*/
    .contact-card__contacts {
        .contact_text {
            color: $textColor;
            font-family: $mainFont;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 125%;
            letter-spacing: 0.96px;
            text-transform: uppercase;
        }

        .contact_title {
            color: $textColor;
            font-family: $secondaryFont;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%;
            gap: 30px;
        }

        .icon {
            height: 75px;
            width: 75px;
            padding: 0px 27px 0px 0px;
        }

        .contact-card__container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}

/*форма с опросником*/
.container-appointment {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    max-height: 1183px;
    align-items: center;
    padding: 120px 455px;
    background-color: $seconBackColor;

    .container__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 1010px;
        max-height: 943px;

        .container__form__title {
            max-width: 622px;
            text-align: center;

            .container__form__title__h3 {
                @extend %title_sm-top;
                text-transform: uppercase;
            }

            .container__form__title__h1 {
                @include title_h2;
                text-align: center;
                padding-bottom: 20px;
            }

            .container__form__title__text {
                @extend %title__sm-down;
                padding-bottom: 65px;
            }
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    gap: 15px;
    padding: 98px 100px;
    box-shadow: 0px 34px 50px 0px #442E1A12;
}

input {
    border: none;
    border: 1px solid #5C8692;
    width: 810px;
    height: 65px;
    background-repeat: no-repeat;
    background-position: 15px;
}

.appointment__name {
    background-image: url("/img/icons/appointment-icon1.svg");
}

.appointment__mail {
    background-image: url('/img/icons/appointment-icon2.svg');
}

.appointment__phone {
    background-image: url('/img/icons/appointment-icon3.svg');
}

.appointment__service {
    background-image: url('/img/icons/appointment-icon4.svg');
}

.appointment__note {
    background-image: url('/img/icons/appointment-icon5.svg');
    height: 123px;
}

input {
    @include text-styles ($mainFont, 19px, 400, 30.4px, -1%);
    color: #141414;
    padding-left: 54px;
}

.btn_green-secondary_uppercase {
    @include btn(#7A9CA5, 23px 307px);
    color: $btnTextLight;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 65px;
    width: 810px;
}


/*футер*/
.footer {
    max-height: 635px;
    max-width: 1920px;
    background-color: #1E2C30;
    color: #FFFFFF;
    padding: 66px 360px;
}

.footer__container {
    max-width: 1200px;
}


.container__logo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 52px;
}

.footer__logo {
    @include text-styles ($secondaryFont, 40px, 700, 50px, 2%);
}

hr {
    max-width: 1200px;
    border-width: 1px;
}

.container__menu {
    display: flex;
    gap: 129px;
    padding-top: 52px;
    max-width: 1200px;
}

.explore,
.utility {
    display: flex;
    flex-direction: column;
}

.explore__title,
.utility__title,
.shedule__title,
.contacts__title {
    @include text-styles ($secondaryFont, 22px, 700, 30.8px);
    font-family: "Playfair Display", serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 30.8px;
}

.footer a {
    @include text-styles ($mainFont, 17px, 500, 34px, -1%);
    text-decoration: none;
}

.contacts__subtitle {
    @include text-styles ($mainFont, 17px, 700, 25.5px, -1%);
}

.contacts__data {
    @include text-styles ($mainFont, 17px, 500, 25.5px, -1%);
}

.shedule {
    @include text-styles ($mainFont, 17px, 500, 34px, -1%);
}

.contacts__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 29px;
}

.copyright {
    max-height: 75px;
    text-align: center;
    background-color: #111E22;
    @include text-styles ($mainFont, 15px, 400, 30px, -1%);
}