$mainFont: 'Manrope', sans-serif;
$secondFont: 'Playfair Display', serif;
$btnMainFont: 'Manrope', sans-serif;
$btnTextLight: #FFFFFF;
$btnTextDark: #141414;
$btnColor: #7A9CA5;

.header {
    display: flex;
    flex-direction: row;
    padding: 38px 60px 38px 60px;
    height: 50px;
    width: auto;
}

.container_logo {}

.navigation {}

.container_smlinks {}

.btn btn_green-secondary_uppercase {}