@import '_variables';
@import '_mixins';
@import url(template_btn.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container__banner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-direction: row;
    max-width: 100%;
    height: 925px;
    flex-shrink: 0;
    align-items: center;
    background-color: #EBF3F5;
    margin: 0 auto;
    padding-left: 260px;
    padding-right: 260px;

    background-image: url("/img/bg/home_first-block\ bg.png");
    background-repeat: no-repeat;
    background-position: right;

    @media screen and (min-width: 992px) and (max-width: 1449px) {
        padding-left: 100px;
        padding-right: 100px;
    }

    @media screen and (min-width: 768px) and (max-width: 991px) {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        max-width: 100%;
        height: auto;
        padding: 70px;
        background-image: none;
        align-items: center;
        gap: 90px;

        .container__banner__info {
            .container__banner__main {
                display: flex;
                flex-direction: column;
                max-width: 250px;
                align-items: flex-start;

                .title__small-up_uppercase {
                    font-size: 10px;
                }

                .title__h2 {
                    font-size: 40px;
                }

                .title__small-down {
                    display: flex;
                    font-size: 12px;
                    max-width: 250px;
                }
            }
        }
    }

    @media screen and (min-width: 481px) and (max-width: 767px) {
        display: flex;
        justify-content: center;
        flex-direction: row;
        max-width: 100%;
        height: auto;
        padding: 60px;
        background-image: none;
        align-items: center;

        .container__banner__info {
            .container__banner__main {
                display: flex;
                flex-direction: column;
                max-width: 300px;
                align-items: flex-start;

                .title__small-up_uppercase {
                    font-size: 15px;
                }

                .title__h2 {
                    font-size: 60px;
                }

                .title__small-down {
                    display: flex;
                    font-size: 16px;
                    width: 300px;
                }
            }
        }

    }

    @media screen and (max-width: 480px) {
        display: flex;
        justify-content: center;
        flex-direction: row;
        max-width: 100%;
        height: auto;
        padding: 50px;
        background-image: none;
        align-items: center;

        .container__banner__info {
            .container__banner__main {
                display: flex;
                flex-direction: column;
                max-width: 300px;
                align-items: flex-start;

                .title__small-up_uppercase {
                    font-size: 15px;
                }

                .title__h2 {
                    font-size: 60px;
                }

                .title__small-down {
                    display: flex;
                    font-size: 16px;
                    width: 300px;
                }
            }
        }
    }


    .container__banner__info {
        display: flex;
        width: 510px;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
    }

    .container__banner__main {
        .title__small-up_uppercase {
            @extend %title_sm-top;
            text-transform: uppercase;
        }

        .title__h2 {
            @include title_h2 (510px);
            font-size: 70px;
            font-style: normal;
            font-weight: 700;
            line-height: 115%;
            letter-spacing: -0.7px;
            gap: 24px;
        }

        .title__small-down {
            @extend %title__sm-down; //стиль для нижнего текста
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%;
            /* 32.3px */
            display: flex;
            width: 508px;
            height: 62px;
        }
    }

    .banner__button {
        display: flex;
        padding: 34px 0px;

        .btn_green-secondary_uppercase-banner {
            @include btn(#7A9CA5, 16px 33px);
            color: $btnTextLight;
            text-transform: uppercase;
            letter-spacing: 1.4px;
        }
    }

    .container__banner__image {
        display: flex;
        max-width: auto;
        height: auto;
        padding-right: 20%;

        @media screen and (max-width: 480px) {
            display: none;
        }

        @media screen and (min-width: 481px) and (max-width: 767px) {
            display: none;
        }

        @media screen and (min-width: 768px) and (max-width: 991px) {
            #photo-girl {
                display: flex;
                max-width: 300px;
                height: auto;
            }
        }
    }
}