* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "variables";
@import "mixins";
@import url(template_top-line.css);
@import url(footer.css);
@import url(template_header.css);
$textColor: #141414;
$firstBackColor: #FFF;

/*основная часть - карточка с фото*/
.contact-main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 120px 360px;
    width: 1200px;
    gap: 120px;
    align-items: center;
    justify-content: space-around;
    background-color: $firstBackColor;
}

.сontact-card {
    display: flex;
    align-items: center;
    gap: 129px;
}

#main_photo {
    float: left;
    width: 646px;
    height: 681px;
}

#main_photo_exclude {
    float: right;
    width: 646px;
    height: 681px;
}

/*основной текст карточки*/
.contact-card__info {
    display: flex;
    width: 425px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    flex-shrink: 0;

    .contact-card__h3 {
        @extend %title_sm-top;
        text-transform: uppercase;
        padding-bottom: 9px;
    }

    .contact-card__h1 {
        @include title_h2 (435px);
    }
}

/*иконки с контактами*/
.contact-card__contacts {

    .contact_text {
        color: $textColor;
        font-family: $mainFont;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
        letter-spacing: 0.96px;
        text-transform: uppercase;
    }

    .contact_title {
        color: $textColor;
        font-family: $secondaryFont;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
        gap: 25px;
    }

    .icon {
        height: 75px;
        width: 75px;
        padding: 0px 27px 0px 0px;
    }

    .contact-card__container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.btn_green-secondary_uppercase {
    @include btn(#7A9CA5, 23px 36px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $btnTextLight;
    text-align: center;
    font-family: $mainFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    gap: 10px;
}