* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "variables";
@import "mixins";

@media (max-width:1920px) {
    .body {
        max-width: 1500px;
    }
}

@media (max-width:1560px) {
    .body {
        max-width: 1400px;
    }
}

@media (max-width:1440px) {
    .body {
        max-width: 1200px;
    }
}

.header {
    display: flex;
    flex-direction: row;
    padding: 38px 60px 38px 60px;
    height: 50px;
    margin: 0px auto;
    max-width: 1920px;
    justify-content: space-between;
    gap: 120px;
}

.container_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 46px;

    .header_logo {
        color: $btnTextDark;
        font-family: $secondaryFont;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
    }

    .header_call {
        color: $btnTextDark;
        font-family: $mainFont;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
        letter-spacing: -0.18px;
    }
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;

    .dropdown {
        position: relative;
        display: inline-block;

        #dropdown_menu_btn {
            background-color: $btnTextLight;
        }
    }

    .dropdown_list {
        display: none;
        background-color: #7A9CA5;
        min-width: 100px;
        list-style: none;
    }

    .dropdown_list a {
        display: block;
        color: $btnTextLight;
        padding: 10px;
        text-decoration: none;
        display: block;
    }

    .dropdown:hover .dropdown_list {
        display: block;
        position: absolute;
    }
}

.menu_link {
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: $navFontColor;
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    /* 22.5px */
}

.container_smlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.btn_green-secondary_uppercase {
    @include btn(#7A9CA5, 16px 33px);
    color: $btnTextLight;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 50px;
    width: 199px;
}