* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "variables";
@import "mixins";

body{
    min-width: 315px;
    border: 2px solid orangered;
    }

.header {
 display: flex;
 justify-content: space-around;
 padding: 38px 60px 38px 60px;
 max-width: 1920px;
 width: 100%;
 border: 1px solid black;
 @media screen and (max-width: 480px) {
    flex-direction: column;
 }
}

.container_logo {
    display: flex;
    gap: 46px;
    border: 1px solid red;
    @media screen and (max-width: 480px) {
        flex-direction: column;
        align-items: center;
        gap: 15px;
     }
}
    .header_logo {
        display: flex;
        align-items: center;
        gap: 20px;

        color: $btnTextDark;
        font-family: $secondaryFont;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
    }
    .header_call {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $btnTextDark;
        font-family: $mainFont;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
        letter-spacing: -0.18px;
        @media screen and (max-width: 480px) {
            font-size: 18px;
            flex-direction: column;
            text-wrap: nowrap;
         } 
    }


.navigation {
    display: flex;
    gap: 46px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: $navFontColor;
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    border: 1px solid blue;
    @media screen and (max-width: 480px) {
        flex-direction: column;
        gap: 30px;
        padding: 23px;
     }
}

.nav-list {
    display: flex;
    gap: 20px;
    @media screen and (max-width: 480px) {
        flex-direction: column;
        align-items: center;
        gap: 10px;    
     }
}


.pages-list {
    border: none;
}

.container_smlinks  {
    display: flex;
    gap: 20px;
}



.btn_green-secondary_uppercase1 {
    @include btn(#7A9CA5, 16px 33px);
    color: $btnTextLight;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 50px;
    width: 199px;
    border: none;
    
}

